# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# ==========================
# Environment
# ==========================
.env

# ==========================
# Google ADK
# ==========================
.adk/
adk_artifacts/
customer_service_agent/adk/

# ==========================
# OS / Editor
# ==========================
.vscode/
.DS_Store